body {
  margin: 0;
}

@media only screen and (max-width : 992px) {
  #main {
    /*margin-left:20%;*/
    width                : 100%;
    padding              : 60px;
    background-image     : url("../img/background.jpg");
    /* background-color  : #b0ddcf; */
    background-repeat    : no-repeat;
    background-size      : 100% 100%;
    background-attachment: fixed;
  }

  #contact {
    vertical-align: middle;
    text-align    : center;
  }

  #contact a img {
    display: inline-block;
    ;
    width: 200px;
  }

  .box p {
    font-style : normal;
    font-weight: 300;
    font-size  : 20px;

    padding-left: 30px;
  }

  .box div h1 {
    color           : #f1f1f1;
    border-radius   : 5px;
    background-color: #5cbbb9;
    box-shadow      : 0px 0px 12px #9bcccb;
    padding         : 7px;
    font-size       : 60px;
    font-weight     : 700;
    font-weight     : 400;
    font-style      : bold;
    display         : inline-block;
  }

  .box div h2 {
    color      : #468bac;
    font-weight: 300;
    font-style : normal;

    /* font-size: 40px; */
  }

  .box div h3 {
    color      : #468bac;
    font-weight: 300;
  }

  .box div h4 {
    color      : #468bac;
    font-weight: 300;
    font-style : italic;
  }

  .box div h5 {
    color      : #5cbbb9;
    font-weight: 300;
    font-style : italic;
    font-size  : 18px;
  }

  #skills ul li {
    text-decoration: none;
    color          : #ebcf5e;
    font-style     : normal;
    font-weight    : 300;
    font-size      : 30px
  }

  .footer p {
    color    : #f1f1f1;
    font-size: 25px;

    font-style : normal;
    font-weight: 300;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 993px) {
  #main {
    margin-left             : 20%;
    width                   : 80%;
    padding                 : 60px;
    background-image        : url("../img/background.jpg");
    /* background-color     : #ebebeb; /*ebebeb*/
    background-repeat    : repeat;
    background-size         : 100% 20%;
    /* background-attachment: fixed; */
  }

  #contact {
    padding-left  : 13%;
    vertical-align: middle;
    text-align    : center;
  }

  #contact a img {
    width: 100px;
  }



  .box p {
    font-style : normal;
    font-weight: 300;
    font-size  : 17px;

    padding-left: 30px;
    color       : #595959;
  }


  .box div h1 {
    color           : #f1f1f1;
    border-radius   : 5px;
    background-color: #5cbbb9;
    padding         : 7px;
    /* text-shadow  : 0 0 10px #959595; */
    box-shadow      : 0px 0px 12px #9bcccb;
    font-size       : 45px;
    font-weight     : 400;
    font-style      : bold;
    display         : inline-block;
  }

  .box div h2 {
    color         : #468bac;
    /* text-shadow: 0 0 3px #adb1c3; */
    font-weight   : 300;
    font-style    : normal;
  }

  .box div h3 {
    color         : #468bac;
    /* text-shadow: 0 0 3px #adb1c3; */
    font-weight   : 300;
    /* font-style : normal; */
    font-size     : 18px;
    padding-left  : 30px;
  }

  .box div h4 {
    color         : #468bac;
    /* text-shadow: 0 0 3px #adb1c3; */
    font-weight   : 300;
    /* font-style : normal; */
    font-size     : 16px;
    padding-left  : 30px;
    font-style    : italic;
  }

  .box div h5 {
    color       : #5cbbb9;
    font-weight : 300;
    font-size   : 16px;
    padding-left: 30px;
    font-style  : italic;
  }

  .footer p {
    font-family: 'Roboto';
    font-size  : 15px;
    color      : #f1f1f1;

    font-style : normal;
    font-weight: 300;
  }

}



#nav {
  list-style-type : none;
  margin          : 0;
  padding         : 20px;
  padding-top     : 3%;
  width           : 20%;
  background-color: #f1f1f1;
  /*#f1f1f1*/
  position        : fixed;
  height          : 100%;
  overflow        : auto;
}

#nav li {
  text-align   : center;
  margin-bottom: 3px;
}

#nav li a {
  display        : block;
  color          : #595959;
  padding        : 8px 16px;
  text-decoration: none;

  border-radius: 20px;

  font-family: 'Roboto';
  font-weight: 400;
  font-style : normal;
  font-size  : 30px;
}

#nav li a.active {
  background-color: #468bac;
  /*color         : #eb4b63;*/
  color           : white;
  text-decoration : none;
}

#nav li a:hover:not(.active) {
  background-color: #5cbbb9;
  /*color         : #eb4b63;*/
  color           : white;
}

#main ul {
  list-style-type: none;
  font-weight    : normal;
}

.box {
  /*background-color: #4CAF50;*/
  margin-bottom: 70px;
  font-family  : 'Roboto';
}

.box div {
  /* padding-left: 40px;
  padding-right: 40px; */
}

#me div h2 {
  color         : #468bac;
  /* text-shadow: 0 0 3px #adb1c3; */
  font-weight   : 300;
  font-style    : italic;

  padding-left: 28px;
}

p {
  color: #3d3d3d;
}

#me #avatar {
  text-align    : center;
  vertical-align: middle;
  padding-top   : 2%;
  padding-left  : 0px;
  padding-right : 0px;
}

#me #avatar a img {
  border-radius: 100%;
  width        : 70%;
}

#me #avatar-small a img {
  border-radius: 100%;
  width        : 30%;
  padding-top  : 2%;
  padding-left : 2%;
}

section {
  box-shadow      : 0px 0px 12px #a1a1a1;
  background-color: #f1f1f1;
  /*f1f1f1*/
  padding-top     : 20px;
  padding-bottom  : 40px;
}

.subsection {
  padding-left: 50px;
}

.subsection p {
  padding-left: 30px;
}

.footer {
  font-family     : 'Roboto';
  background-color: #f1f1f1;

  padding-top   : 2%;
  padding-bottom: 2%;
  padding-left  : 0;

}